<div class="start-container">
  <h3>Dina bloggar</h3>
  <button (click)="showCreate = !showCreate" class="show-create-btn">
    {{ showCreate ? "Stäng" : "Skapa ny blogg" }}
  </button>
  <div *ngIf="showCreate">
    <app-create-blog></app-create-blog>
  </div>

  <div class="blog-container" *ngIf="isHome()">
    <app-show-blogs
      (editBlog)="findEdit($event)"
      *ngFor="let b of blogs"
      [blog]="b"
      class="blog"
    ></app-show-blogs>
  </div>

  <div class="edit-container" *ngIf="isEdit()">
    <app-edit [blogs]="blogs"></app-edit>
  </div>
</div>
